doctype html
html(lang="en")
    head
        title Battle Pass
        script(src="//unpkg.com/feather-icons")
        link(rel="stylesheet" href="../assets/styles.css")
    body
        .nav
            .nav__inner
                .header1
                    span.header-item.header-item--logo
                        img(src="../assets/images/logo-fortnite.png" alt="LOGO FORTNITE")
                    span.header-item
                        a(href="index.html" id="BattlePass") BATTLE PASS
                    span.header-item
                        a(href="#" id="Creative") CREATIVE
                    span.header-item
                        a(href="../save-world/index.html" id="SaveTheWorld") SAVE THE WORLD
                    span.header-item
                        a(href="../competitive/index.html" id="Competitive") COMPETITIVE

                .header2
                    span.header-item
                        img(src="../assets/images/nav.png" alt="navigation")
                    span.header-item
                        img(src="../assets/images/navnat.png" alt="nationality")
                    span.header-item
                        img(src="../assets/images/sign-in.png" alt=" sign in")
                        a(href="#" id="SignIn") SIGN IN
                    span.header-item
                        a.btn-download(href="#") DOWNLOAD

        .intropass
            .intropass__inner
                .colu--1
                    p.red-big JOIN THE HUNT
                    p.white-big WITH NEW OUTFITS
                    p.learn-another LEARN MORE
                .colu--2
                    img(src="../assets/images/fortnite crew.png")

        .save-the-world-trash
            .titlesave
                p.titlesaveworld SAVE THE WORLD

            .save-the-world-trash__inner

                .colum--1
                    img(src="../assets/images/dragon-characters.png")

                    .textsave
                        p ALL YOU NEED IS TO START
                        p.
                            Discover the epic pve action-building
                            co-operative campaign.

                .colum--2
                    img(src="../assets/images/girl-character.png")

                    .textsave
                        p PREPARE TO LEVEL UP
                        p.
                            Build huge forts, craft weapons, find
                            loot and level up your heroes.

                .colum--3
                    img(src="../assets/images/map-characters.png")

                    .textsave
                        p CREATE A DREAM TEAM
                        p.
                            You and your friends battle to hold
                            back the monster hordes and explore
                            a vast, destructible world where no
                            two games are ever the same.


        .footer
            .footer__inner
                .social-icons.clearfix
                    a.icons(href="#")
                            i.icon(data-feather="facebook")
                    a.icons(href="#")
                            i.icon(data-feather="twitter")
                    a.icons(href="#")
                        i.icon(data-feather="instagram")
                    a.icons(href="#")
                        i.icon(data-feather="youtube")
                .links.clearfix.table_container
                    .list1_table.column
                        ul
                            li Home
                            li Battle Pass
                            li Watch
                            li Get Fortnite
                    .list2_table.column
                        ul
                            li News
                            li FAQ
                            li EULA
                            li Competitive
                    .list3_table.column
                        ul
                            li V-Bucks Card
                            li Help
                            li Safety and
                            li Security
                            li Community
                            li Rules

                .line
                    hr
                .info-foot.clearfix
                    p.rights.
                        © 2020, Epic Games, Inc. Epic, Epic Games, the Epic Games logo, Fortnite, the Fortnite logo, Unreal, Unreal Engine 4
                        and UE4 are trademarks or registered trademarks of Epic Games, Inc. in the United States of America and elsewhere.
                        All rights reserved.
                    .links-help.table_container
                        a(href="#").table.column.
                            Terms of Service
                        a(href="#").table.column.
                            Privacy Policy

        script feather.replace()