doctype html
html(lang="en")
    head
        title Battle Pass
    body
        .nav
            .nav__inner
                .header1
                    img(src="images/logofortnite.png")
                    p BATTLE PASS
                    p CREATIVE
                    p SAVE THE WORLD
                    p COMPETITIVE
                .header2
                    img(src="images/nav.png")
                    img(src="images/navnat.png")
                    img(src="asdfghj")
                    p Sign in
                    p Download
        .intropass
            img
            p
            p
            p
        .saveworldpass
            p
            img
            p
            p
            img
            p
            p
            img
            p
            p
        .introcharacters
            p
            p
            img
            p
            img
            img
            img
        .footer
            .emotes
                img
                img
                img
                img
            .links
                .list1
                ul
                    ol
                    ol
                    ol
                    ol
                .list2
                ul
                    ol
                    ol
                    ol
                    ol
                .list3
                ul
                    ol
                    ol
                    ol
                    ol
                    ol
                    ol
            .infofoot
                p
                p