doctype html
html(lang="en")
    head
        title Competitive
        script(src="//unpkg.com/feather-icons")
        link(rel="stylesheet" href="../assets/styles.css")
    body
        .nav
            .nav__inner
                .header1
                    span.header-item.header-item--logo
                        img(src="../assets/images/logo-fortnite.png" alt="LOGO FORTNITE")
                    span.header-item
                        a(href="index.html" id="BattlePass") BATTLE PASS
                    span.header-item
                        a(href="#" id="Creative") CREATIVE
                    span.header-item
                        a(href="../save-world/index.html" id="SaveTheWorld") SAVE THE WORLD
                    span.header-item
                        a(href="../competitive/index.html" id="CompetitiveIndex") COMPETITIVE

                .header2
                    span.header-item
                        img(src="../assets/images/nav.png" alt="navigation")
                    span.header-item
                        img(src="../assets/images/navnat.png" alt="nationality")
                    span.header-item
                        img(src="../assets/images/sign-in.png" alt=" sign in")
                        a(href="#" id="SignIn") SIGN IN
                    span.header-item
                        a.btn-download(href="#") DOWNLOAD

        .introcomp
            .introcomp__inner
                .compco--1

                    p.white-big COMPETITIVE
                    p.redsmall GET HYPE! WIN PRIZES!

                .compco--2

                    a.leaderboard(href="#") LEADERBOARD

        .calendar
            .calendar__inner
                p.hour EVENT CALENDAR

        .tourinfo
            .tourinfo__inner
                .imagecompetitive
                    img(src="../assets/images/sport-character.png")
                .textcompetitive
                    p.titletourdream DREAMHACK ONLINE OPEN
                    p.redtour SEMI FINALS
                    .blackfont
                        p.dates DATE: DECEMBER 20, 2020
                        p.dates TIME: 3:00 PM EET
                        p.dates REGION(S): EUROPE
                    p.description This is a tournament for registered players only.
                    p.description The top 50 players will advance to Stage 3. For
                    p.description assistance and contact with the tournament
                    p.description admins, please use this discord link:
                    a.description.linkspecial(href="#") discord.gg/dreamhack
                    p.description Best of luck!

        .upcoming
            .upcoming__inner

                .titleupcoming

                    p.upcomingcss UPCOMING
                    p.upcomingdate DECEMBER 2020

                .line
                    hr
                .rowsup
                   .rowsup__inner

                        .rowcolour

                            .rowupcoming

                                p.upcomingnumber 20
                                p.date-red SUNDAY, 3:00 PM PST
                                p.title-tournament DREAMHACK ONLINE OPEN SEMIFINALS

                        .rowcolour

                            .rowupcoming

                                p.upcomingnumber 20
                                p.date-red SUNDAY, 7:00 PM PST
                                p.title-tournament DREAMHACK ONLINE OPEN FINALS

                        .rowcolour

                            .rowupcoming
                                p.upcomingnumber 20
                                p.date-red SUNDAY, 8:00 PM PST
                                p.title-tournament BHANGRA BOOGIE CUP

        .footer
            .footer__inner
                .social-icons.clearfix
                    a.icons(href="#")
                        i.icon(data-feather="facebook")
                    a.icons(href="#")
                        i.icon(data-feather="twitter")
                    a.icons(href="#")
                        i.icon(data-feather="instagram")
                    a.icons(href="#")
                        i.icon(data-feather="youtube")
                .links.clearfix.table_container
                    .list1_table.column
                        ul
                            li Home
                            li Battle Pass
                            li Watch
                            li Get Fortnite
                    .list2_table.column
                        ul
                            li News
                            li FAQ
                            li EULA
                            li Competitive
                    .list3_table.column
                        ul
                            li V-Bucks Card
                            li Help
                            li Safety and
                            li Security
                            li Community
                            li Rules

                .line
                    hr
                .info-foot.clearfix
                    p.rights.
                        © 2020, Epic Games, Inc. Epic, Epic Games, the Epic Games logo, Fortnite, the Fortnite logo, Unreal, Unreal Engine 4
                        and UE4 are trademarks or registered trademarks of Epic Games, Inc. in the United States of America and elsewhere.
                        All rights reserved.
                    .links-help.table_container
                        a(href="#").table.column.
                            Terms of Service
                        a(href="#").table.column.
                            Privacy Policy

        script feather.replace()