doctype html
html(lang="en")
    head
        title Competitive
        script(src="//unpkg.com/feather-icons")
        link(rel="stylesheet" href="assets/styles.css")
    body
        .nav
            .nav__inner
                .header1
                    span.header-item.header-item--logo
                        img(src="assets/images/logo-fortnite.png" alt="LOGO FORTNITE")
                    span.header-item
                        a(href="battle-pass/index.html" id="BattlePass") BATTLE PASS
                    span.header-item
                        a(href="#" id="Creative") CREATIVE
                    span.header-item
                        a(href="save-world/index.html" id="SaveTheWorld") SAVE THE WORLD
                    span.header-item
                        a(href="competitive/index.html" id="Competitive") COMPETITIVE

                .header2
                    span.header-item
                        img(src="assets/images/nav.png" alt="navigation")
                    span.header-item
                        img(src="assets/images/navnat.png" alt="nationality")
                    span.header-item
                        img(src="assets/images/sign-in.png" alt=" sign in")
                        a(href="#" id="SignIn") SIGN IN
                    span.header-item
                        a.btn-download(href="#") DOWNLOAD

        .introcomp
            img
            h1
            h3
            p
        .tournamentclose
            h6
            img
            h1
            h3
            h6
            p
                a
        .othertourn
            h4
            h6
            h4
            h6
            h4
            h4
            h6
            h4
            h4
            h6
            h4

        .footer
            .emotes
                img
                img
                img
                img
            .links
                .list1
                ul
                    ol
                    ol
                    ol
                    ol
                .list2
                ul
                    ol
                    ol
                    ol
                    ol
                .list3
                ul
                    ol
                    ol
                    ol
                    ol
                    ol
                    ol
            .infofoot
                p
                p