doctype html
html(lang="en")
    head
        title Competitive
    body
        .nav
            .nav__inner
                .header1
                    img(src="images/logofortnite.png")
                    p BATTLE PASS
                    p CREATIVE
                    p SAVE THE WORLD
                    p COMPETITIVE
                .header2
                    img(src="images/nav.png")
                    img(src="images/navnat.png")
                    img(src="asdfghj")
                    p Sign in
                    p Download
        .introcomp
            img
            h1
            h3
            p
        .tournamentclose
            h6
            img
            h1
            h3
            h6
            p
                a
        .othertourn
            h4
            h6
            h4
            h6
            h4
            h4
            h6
            h4
            h4
            h6
            h4

        .footer
            .emotes
                img
                img
                img
                img
            .links
                .list1
                ul
                    ol
                    ol
                    ol
                    ol
                .list2
                ul
                    ol
                    ol
                    ol
                    ol
                .list3
                ul
                    ol
                    ol
                    ol
                    ol
                    ol
                    ol
            .infofoot
                p
                p