doctype html
html(lang="en")
    head
        title Home Page
        script(src="//unpkg.com/feather-icons")
        link(rel="stylesheet" href="assets/styles.css")
    body
        .nav
            .nav__inner
                .header1
                    span.header-item.header-item--logo
                        img(src="assets/images/logo-fortnite.png" alt="LOGO FORTNITE")
                    span.header-item
                        a(href="battle-pass/index.html" id="BattlePass") BATTLE PASS
                    span.header-item
                        a(href="#" id="Creative") CREATIVE
                    span.header-item
                        a(href="save-world/index.html" id="SaveTheWorld") SAVE THE WORLD
                    span.header-item
                        a(href="competitive/index.html" id="Competitive") COMPETITIVE

                .header2
                    span.header-item
                        img(src="assets/images/nav.png" alt="navigation")
                    span.header-item
                        img(src="assets/images/navnat.png" alt="nationality")
                    span.header-item
                        img(src="assets/images/sign-in.png" alt=" sign in")
                        a(href="#" id="SignIn") SIGN IN
                    span.header-item
                        a.btn-download(href="#") DOWNLOAD


        .introduction
            .peas.table_container
                p.white.smaller.row SEASON 5
                p.white.bigger.row BATTLE PASS
                p.black.row ZERO POINT
                p.button.row JOIN THE HUNT

        .news

            .new1
                p DEC 18, 2021
                h3 FORTNITE CREATIVE

            .new2
                p DEC 18, 2021
                h3 OPERATION SNOWDOWN
            .new3
                p DEC 18, 2021
                h4.
                    FORTNITE ON XBOX SERIES
                    X/S AND PS5
            .new4
                p DEC 17, 2020
                h4.
                    FORTNITE CREATIVE-
                    NEW YEAR, NEW GAMES

            .new5
                p DEC 16, 2020
                h4.
                    DARYL DIXON AND MICHONNE
                    JOIN THE HUNT

            .new6
                p DEC 16, 2020
                h4.
                    FORTNITE GENERATIONS CUP-
                    ONLY ON PS4/PS5

            .load-more
                a(href="#") Load More


        .battle-pass-intro
            img(src="images/battlepassphoto.png" alt="battle pass characters")
            .info1
                h5 1500 V-BUCKS BACK
                p.
                    Get the battle pass for only 950 v-bucks and
                    earn up to 1500 v-bucks by playing. use them to
                    buy the next battle pass and future hunters
                    from the item shop.
                a(href="#") LEARN MORE
            img(src="images/loadingscreen.png" alt="loading screen fortnite ")
            .info2
                h5 1500 V-BUCKS BACK
                p.
                    Get the battle pass for only 950 v-bucks and
                    earn up to 1500 v-bucks by playing. use them to
                    buy the next battle pass and future hunters
                    from the item shop.
                a(href="#") LEARN MORE


        .footer
            .footer__inner
                .social-icons.clearfix
                    a.icons(href="#")
                        i.icon(data-feather="facebook")
                    a.icons(href="#")
                        i.icon(data-feather="twitter")
                    a.icons(href="#")
                        i.icon(data-feather="instagram")
                    a.icons(href="#")
                        i.icon(data-feather="youtube")
                .links.clearfix.table_container
                    .list1_table.column
                        ul
                            li Home
                            li Battle Pass
                            li Watch
                            li Get Fortnite
                    .list2_table.column
                        ul
                            li News
                            li FAQ
                            li EULA
                            li Competitive
                    .list3_table.column
                        ul
                            li V-Bucks Card
                            li Help
                            li Safety and
                            li Security
                            li Community
                            li Rules

                .line
                    hr
                .info-foot.clearfix
                    p.rights.
                        © 2020, Epic Games, Inc. Epic, Epic Games, the Epic Games logo, Fortnite, the Fortnite logo, Unreal, Unreal Engine 4
                        and UE4 are trademarks or registered trademarks of Epic Games, Inc. in the United States of America and elsewhere.
                        All rights reserved.
                    .links-help.table_container
                        a(href="#").table.column.
                            Terms of Service
                        a(href="#").table.column.
                            Privacy Policy

        script feather.replace()

