doctype html
html(lang="en")
    head
        title Home Page
    body
        .nav
            .nav__inner
                .header1
                    img(src="images/logofortnite.png")
                    p BATTLE PASS
                    p CREATIVE
                    p SAVE THE WORLD
                    p COMPETITIVE
                .header2
                    img(src="images/nav.png")
                    img(src="images/navnat.png")
                    img(src="images/sign-in.png")
                    p Sign in
                    p Download


        .introduction
            h2 SEASON 5
            h1 BATTLE PASS
            h3 ZERO POINT
            h6 JOIN THE HUNT

        .news

            .new1
                img(src="images/creative-fort-foto")
                p DEC 18, 2021
                h3 FORTNITE CREATIVE

            .new2
                img(src="https://assets.climatecentral.org/images/made/2020Snow-report-cover-image_1000_664_s_c1_c_c.jpg")
                p DEC 18, 2021
                h3 OPERATION SNOWDOWN
            .new3
                img(src="images/characters.png")
                p DEC 18, 2021
                h4.
                    FORTNITE ON XBOX SERIES
                    X/S AND PS5
            .new4
                img(src="images/characters-snow")
                p DEC 17, 2020
                h4.
                    FORTNITE CREATIVE-
                    NEW YEAR, NEW GAMES

            .new5

                p
                h4

            .new6

                p
                h4

            .load-more
                a(url="#") Load More


        .battle-pass-intro
            img
            .info1
                p
                p
            img
            .info2
                p
                p


        .footer
            .social-icons
                img
                img
                img
                img
            .links
                .list1
                ul
                    ol
                    ol
                    ol
                    ol
                .list2
                ul
                    ol
                    ol
                    ol
                    ol
                .list3
                ul
                    ol
                    ol
                    ol
                    ol
                    ol
                    ol
            .info-foot
                p
                p.
                    higiuhiuh
                    iygiyg8u

