doctype html
html(lang="en")
    head
        title Save the World
    body
        .nav
            .nav__inner
                .header1
                    img(src="images/logofortnite.png")
                    p BATTLE PASS
                    p CREATIVE
                    p SAVE THE WORLD
                    p COMPETITIVE
                .header2
                    img(src="images/nav.png")
                    img(src="images/navnat.png")
                    img(src="asdfghj")
                    p Sign in
                    p Download
        .saveintro
            img
            p
            p
        .video
            p
            video
            p
        .pack
            img
            p
            p
            p
            p
        .footer
            .emotes
                img
                img
                img
                img
            .links
                .list1
                ul
                    ol
                    ol
                    ol
                    ol
                .list2
                ul
                    ol
                    ol
                    ol
                    ol
                .list3
                ul
                    ol
                    ol
                    ol
                    ol
                    ol
                    ol
            .infofoot
                p
                p