doctype html
html(lang="en")
    head
        title Save the World
        script(src="//unpkg.com/feather-icons")
        link(rel="stylesheet" href="../assets/styles.css")
    body
        .nav
            .nav__inner
                .header1
                    span.header-item.header-item--logo
                        img(src="../assets/images/logo-fortnite.png" alt="LOGO FORTNITE")
                    span.header-item
                        a(href="../battle-pass/index.html" id="BattlePass") BATTLE PASS
                    span.header-item
                        a(href="#" id="Creative") CREATIVE
                    span.header-item
                        a(href="save-world/index.html" id="SaveTheWorldIndex") SAVE THE WORLD
                    span.header-item.yellow
                        a(href="../competitive/index.html" id="Competitive") COMPETITIVE

                .header2
                    span.header-item
                        img(src="../assets/images/nav.png" alt="navigation")
                    span.header-item
                        img(src="../assets/images/navnat.png" alt="nationality")
                    span.header-item
                        img(src="../assets/images/sign-in.png" alt=" sign in")
                        a(href="#" id="SignIn") SIGN IN
                    span.header-item
                        a.btn-download(href="#") DOWNLOAD

        .startsave
            .startsave__inner
                .startps
                    p.titlestart SAVE THE WORLD
                    p.textstart Discover the epic pve action-building co-operative campaign. You and
                    p.textstart your friends battle to hold back the monster hordes and explore a vast,
                    p.textstart destructible world where no two games are ever the same. build huge
                    p.textstart forts, craft weapons, find loot and level up your heroes.

        .videodiv
            .videodiv__inner

                p.purple GET SAVE THE WORLD NOW
                .
                    <iframe width="996" height="650" src="https://www.youtube.com/embed/nE4IvAxF4Co" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
                p.lowertitle CINEMATIC TRAILER

        .powerhouse-pack

            .powerhouse-pack__inner

                .pspowerhouse

                    .columnpowerhouse

                        p.titlepowerhouse POWERHOUSE PACK
                        p.powerhousetext POWERHOUSE CHALLENGE: EARN UP TO 1000
                        p.powerhousetext V-BUCKS AND 1000 X-RAY TICKETS BY COMPLETING
                        p.powerhousetext SAVE THE WORLD DAILY QUESTS.
                        p.yellowprize 50 USD
                        a.linktobuy.style(href="#") GET MORE

                    .imagepowerhouse

                        img(src="../assets/images/powerhouse.png" alt="powerhouse character")

        .footer
            .footer__inner
                .social-icons.clearfix
                    a.icons(href="#")
                        i.icon(data-feather="facebook")
                    a.icons(href="#")
                        i.icon(data-feather="twitter")
                    a.icons(href="#")
                        i.icon(data-feather="instagram")
                    a.icons(href="#")
                        i.icon(data-feather="youtube")
                .links.clearfix.table_container
                    .list1_table.column
                        ul
                            li Home
                            li Battle Pass
                            li Watch
                            li Get Fortnite
                    .list2_table.column
                        ul
                            li News
                            li FAQ
                            li EULA
                            li Competitive
                    .list3_table.column
                        ul
                            li V-Bucks Card
                            li Help
                            li Safety and
                            li Security
                            li Community
                            li Rules

                .line
                    hr
                .info-foot.clearfix
                    p.rights.
                        © 2020, Epic Games, Inc. Epic, Epic Games, the Epic Games logo, Fortnite, the Fortnite logo, Unreal, Unreal Engine 4
                        and UE4 are trademarks or registered trademarks of Epic Games, Inc. in the United States of America and elsewhere.
                        All rights reserved.
                    .links-help.table_container
                        a(href="#").table.column.
                            Terms of Service
                        a(href="#").table.column.
                            Privacy Policy

        script feather.replace()
