
@font-face {
  font-family: 'Burbank Big Cd Bk';
  src: url('fonts/BurbankBigCondensed-Black.eot');
  src: url('fonts/BurbankBigCondensed-Black.eot?#iefix') format('embedded-opentype'),
  url('fonts/BurbankBigCondensed-Black.woff2') format('woff2'),
  url('fonts/BurbankBigCondensed-Black.woff') format('woff'),
  url('fonts/BurbankBigCondensed-Black.ttf') format('truetype'),
  url('fonts/BurbankBigCondensed-Black.svg#BurbankBigCondensed-Black') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}