@import "normalize";
@import "fonts";


$container-size: 1140px;
$container-size2: 100%;

.nav {
  max-width: $container-size2;
  background-color: #000000;

  .nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 12px;
    line-height: 22px;

    .header-item {

      & + .header-item {
        margin-left: 30px;
      }

      &--logo {
        margin-left: 70px;
      }

      .btn-download {
        background-color: #FFFD38;
        align-items: center;
        padding: 22px 42px 22px 43px;
        color: black;
        font-weight: 800;
      }
    }

    .header1 {
      text-align: left;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    .header2 {
      text-align: right;
      white-space: nowrap;
      display: flex;
      align-items: center;


      img {
        width: 18px;
        height: 18px;

      }

    }

    a {
      color: #CCCCCC;
      text-decoration: none;

      &.current {
        color: #FFFD38;
      }

    }
  }

}

.clearfix {
  clear: both;

  &:before,
  &:after {
    content: "";
    clear: both;
  }
}

body {
  max-width: $container-size2;
  overflow-x: hidden;
}

.footer {
  background-color: black;
  max-width: $container-size2;
  max-height: 100%;
  text-align: center;
  padding: 50px 20px;

  &__inner {
    max-width: $container-size;
    margin: auto;
    padding: 0;

    .rights {
      text-align: left;
    }

  }

  .links li, p {
    color: white;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-style: normal;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .social-icons {

    float: left;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    .icons {
      & + .icons {
        margin-left: 15px;
      }
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  .table_container {
    display: flex;
    justify-content: flex-start;

    ul {
      padding: 0;
    }
  }

}

.column {
  & + .column {
    margin-left: 50px;
  }

  .line {
    width: 1px;
    color: grey;
    align-items: center;
  }
}

.introduction {
  background-image: url(images/introduction.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: $container-size2;
  height: 850px;
  font-family: Burbank Big Cd Bk, sans-serif;
  font-weight: 1600 !important;
  align-items: center;
  text-align: left;

  .peas.table_container {
    margin: 0 99px 20px 99px;
    max-width: $container-size;
    display: table;
    column-count: 1;


    .white {
      font-style: normal;
      line-height: 45px;
      letter-spacing: 0.1em;
      color: white;

      &.bigger {
        font-size: 60px;
      }

      &.smaller {
        margin-top: 290px;
        font-size: 40px;
      }

    }

    .black {
      font-size: 48px;
    }

    .button {
      background-color: #0B0D32;
      color: white;
      font-size: 24px;
      padding: 22px 42px 22px 43px;
      text-decoration: none;

    }
  }
}

.news {
  
  img {
    max-width: 100%;
  }

  .opensans {
    font-family: "Open Sans", sans-serif;
  }

  .smallnews {
    font-size: 20px;
    font-weight: 800;
  }

  .whitenews {
    color: white;
  }

  .blacknews {
    color: black;
  }

  .blue {
    color: #2DB9F0;
    font-size: 18px;
    font-weight: 800;
  }

  .sizenews {
    font-size: 35px;
    font-weight: 700;
    font-family: Burbank Big Cd Bk, sans-serif;
  }

  .sizenews30px {
    font-size: 30px;
  }

  .newssection {
    display: flex;
    align-items: flex-start;
    max-width: $container-size;
    margin: -10vh auto 0;

    .new1 {
      background-image: url("images/creative-fort-foto.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 30px;
      margin: 30px;
      background-position: center;
      width: 60%;
      height: 700px;

      .text1 {
        margin-top: 600px;
      }

    }

    .new2 {
      background-image: url("images/operation-showdown.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 30px;
      margin: 30px;
      width: 40%;
      height: 700px;

    }

    .text2 {
      margin-top: 600px;
    }
  }

  .newssection2 {
    display: flex;
    max-width: $container-size;
    margin: 40px auto 227px;
    column-count: 4;
    justify-content: space-between;
    }

  .col4 {
    width: 25%;
    background-color: #F9F9F9;

    margin: 0 20px;
  }


}

.load-more {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 50%;
  transform: translateY(-140%);

  a {
    max-width: $container-size;
    text-decoration: none;
    color: #0B0D32;
    font-family: Burbank Big Cd Bk, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    border-style: solid;
    border-color: #0B0D32;
    border-width: 3px;
    text-transform: uppercase;
    padding: 20px 78px;

  }

}

.battle-pass-intro {
  background-color: #7854F7;
  background-image: url("images/dots-background.png");
  background-repeat: no-repeat;


  .battle-pass-intro__container {

    max-width: $container-size;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    row-span: 2;
    column-count: 2;
    
    .row {
      margin-bottom: 70px;
      
      .cell {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

      }

      .special {
        background-image: url("images/dots-background.png");
        background-repeat: no-repeat;
        background-position: bottom right ;
        margin-left: 100px;
        .img-wrapper {
          margin-top: 100px;
        }

      }
    }
  }

  .learn-more {
    margin-top: 70px;

    a {
      text-decoration: none;
      background-color: #FFFD38;
      align-items: center;
      padding: 22px 42px 22px 43px;
      color: black;
      font-weight: 800;

    }

  }

  .green {
    font-family: Burbank Big Cd Bk, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
    color: #85FF00;

  }

  .whitebattlepass {
    color: white;
  }


}

.intropass {
  background: linear-gradient(106.7deg, #8135A4 -2.72%, #27184C 95.25%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: $container-size2;
  height: 850px;
  text-align: left;
  align-content: center;
  padding: 100px;
  align-items: center;

  .intropass__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .colu {
    max-width: 50%;
    }

  .colu--2 {
    text-align: right;
  }

  .learn-another {
    margin-top: 70px;
    align-items: center;
    display: inline;
    background-color: #FFFD38;
    padding: 22px 42px 22px 43px;
    text-decoration: none;
    color: black;
    font-weight: bold
  }

  .red-big {
    color: #EB4851;
    font-family: Burbank Big Cd Bk, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
  }

  .white-big {
    color: white;
    font-family: Burbank Big Cd Bk, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.1em;
    text-align: left;

  }

  
}

.save-the-world-trash__inner {
  display: flex;
  align-items: flex-start;
  column-count: 3;
  justify-content: center;
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;

  .colum {
    max-width: 380px;
    margin: 0 20px;
    flex-direction: column;

    .textsave {
      max-width: 200px;
      text-align: center;
    }

  }

}

.titlesaveworld {
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0;
  text-align: center;
  color: #0B0D32;
}

.normaltext {
  font-family: Open Sans, sans sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
}

.titlesaveworldbase {
  font-family: Burbank Big Burbank Big Cd Bk, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 0;
  color: #0B0D32;
}

.introcomp {
  max-width: 100%;
  height: 850px;
  background-image: url("../assets/images/competitive-intro.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 100px;

  .leaderboard {
    margin-top: 70px;
    align-items: center;
    display: inline;
    background-color: #FFFD38;
    padding: 22px 42px 22px 43px;
    text-decoration: none;
    color: black;
    font-weight: bold
  }

  .white-big {
    font-family: Burbank Big Cd Bk, sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0;
    text-align: left;
    color: white;
    margin: 0 auto;
  }

  .redsmall {
    font-family: Burbank Big Cd Bk, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #EB4851;
  }
}

.calendar__inner {
  background-color: white;

  .hour {
    text-align: center;
    margin: auto 0;
    font-family: Burbank Big Cd Bk, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    color: #0B0D32;
    padding: 40px 0;
  }
}

.upcoming{
  background-color: #e5e5e5;
}

.tourinfo {
  background-color: #e5e5e5;
  display: flex;
}

.tourinfo__inner {

  margin: 100px auto 0;
  display: flex;
  justify-content: space-around;
}

.textcompetitive {
  margin-left: 71px;
}

.titletourdream {
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0;
  text-align: left;
  color: #371E8B;
  margin-bottom: 20px;
}

.redtour {
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #EB4851;
  margin: 0;
}

.blackfont {
  margin-top: 40px ;
}

.dates {
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}

.linkspecial  {
  text-decoration: none;
  color: #371E8B;

}

.description {

  font-family: Open Sans, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0;
  text-align: left;


}

.upcoming__inner {
  max-width: 100%;
  padding-top: 140px;
  margin: 0 auto;
}

.titleupcoming {
  margin-left: 100px;
}

.upcomingcss {
  margin: 0 auto;
  color: #371E8B;
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0;
  text-align: left;

}

.upcomingdate {
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
  color: #371E8B;
}

.upcomingnumber {
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0;
  text-align: left;
  color: #371E8B;
  padding-left: 70px;
  text-wrap: none;
}

.date-red {
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
  color: #EB4851;
  padding-left: 30px;
  text-wrap: none;
}

.title-tournament {
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
  color: #371E8B;
  padding-left: 100px;
  text-wrap: none;
  padding-right: 70px;
}

.rowsup__inner {
  width: $container-size;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 135px;
}

.rowcolour {
  background-color: white;
  margin-bottom: 30px;

}
.rowupcoming {
  display: flex;
  align-items: center;
  height: 120px;
  max-width: 1500px;
}

.startsave {
    background-image: url("../assets/images/save-start.png");
    max-width: 100%;
    height: 850px;
    background-size: cover;
    background-repeat: no-repeat;
}

.titlestart {
  margin: 0 auto;
  color: white;
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0;
  text-align: center;

}

.textstart {
  color: white;
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0;
  text-align: center;

}

.startps {
  padding-top: 400px;
}

.videodiv__inner {
  margin: 0 auto;
  background-color: #0B0D32;
  align-items: center;
  text-align: center;
}

.purple {
  margin-top: 0;
  padding-top: 100px;
  color: #FF00FB;
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0;
  text-align: center;

}

.lowertitle {
  margin-bottom: 0;
  padding-bottom: 100px;
  color: white;
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0;
  text-align: center;

}

.titlepowerhouse {
  color: white;
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0;
  text-align: left;

}

.powerhousetext {
  color: white;
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: left;

}

.yellowprize {
  font-family: Burbank Big Cd Bk, sans-serif;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0;
  text-align: left;
  color: #FFFD38;
}

.pspowerhouse {
  display: flex;
  background-image: url("../assets/images/grey rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1400px;
  justify-content: space-around;
  margin: 100px auto;
  padding: 0 45px;
}

.linktobuy {
    text-decoration: none;
    background-color: #FF00FA;
    align-items: center;
    padding: 20px 86px;
    color: black;
    font-weight: 800;

}

.style {
    color: white;
    font-family: Burbank Big Cd Bk, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
}

.imagepowerhouse {
  margin: -10vh auto 0;
}

#BattlePassIndex {
  color: #FFFD38;
}

#CompetitiveIndex {
  color: #FFFD38;
}

#SaveTheWorldIndex {
  color: #FFFD38;
}






