@import "normalize";


$container-size: 1140px;




.nav {
  max-width: 100%;
  background-color: #000000;

  .nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 12px;
    line-height: 22px;

    .header-item {

      & + .header-item {
        margin-left: 30px;
      }

      &--logo {
        margin-left: 70px;
      }

      .btn-download {
        background-color: #FFFD38;
        align-items: center;
        padding: 22px 42px 22px 43px;
        color: black;
        font-weight: 800;
      }
    }

    .header1 {
      text-align: left;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    .header2 {
      text-align: right;
      white-space: nowrap;
      display: flex;
      align-items: center;


      img {
        width: 18px;
        height: 18px;

      }

    }

    a {
      color: #CCCCCC;
      text-decoration: none;

      &.current {
        color: #FFFD38;
      }

    }
  }

}

.clearfix {
  clear: both;

  &:before,
  &:after {
    content: "";
    clear: both;
  }
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.footer {
  background-color: black;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  padding: 50px 20px;

  &__inner {
    max-width: $container-size;
    margin: auto;
    padding: 0;

    .rights {
      text-align: left;
    }

  }

  .links li, p {
    color: white;
    font-family: Open Sans, serif;
    font-size: 14px;
    font-style: normal;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .social-icons {

    float: left;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    .icons {
      & + .icons {
        margin-left: 15px;
      }
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  .table_container {
    display: flex;
    justify-content: flex-start;

    ul {
      padding: 0;
    }
  }

}

  .column {
    & + .column {
      margin-left: 50px;
    }

  .line {
    width: 1px;
    color: grey;
    align-items: center;
  }
}

.introduction {
  background-image: url(images/introduction.png);
  max-width: 100%;
  height: 850px;
  font-family: Burbank Big Cd Bk, sans-serif;
  font-weight: 900 !important;


  .white {
    font-style: normal;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;

  }
}
  .bigger {
    font-size: 50px;
  }

  .smaller {
    margin: 0;
    font-size: 40px;
  }

@font-face {
  font-family: 'Burbank Big Cd Bk';
  src: url('fortnite-font-style/BurbankBigCondensed-Black.eot');
  src: url('fortnite-font-style/BurbankBigCondensed-Black.eot?#iefix') format('embedded-opentype'),
  url('fortnite-font-style/BurbankBigCondensed-Black.woff2') format('woff2'),
  url('fortnite-font-style/BurbankBigCondensed-Black.woff') format('woff'),
  url('fortnite-font-style/BurbankBigCondensed-Black.ttf') format('truetype'),
  url('fortnite-font-style/BurbankBigCondensed-Black.svg#BurbankBigCondensed-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}