@import "normalize";
@import "fonts";

$container-size: 1140px;
$container-size2: 100%;

.nav {
  max-width: $container-size2;
  background-color: #000000;

  .nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 12px;
    line-height: 22px;

    .header-item {

      & + .header-item {
        margin-left: 30px;
      }

      &--logo {
        margin-left: 70px;
      }

      .btn-download {
        background-color: #FFFD38;
        align-items: center;
        padding: 22px 42px 22px 43px;
        color: black;
        font-weight: 800;
      }
    }

    .header1 {
      text-align: left;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    .header2 {
      text-align: right;
      white-space: nowrap;
      display: flex;
      align-items: center;


      img {
        width: 18px;
        height: 18px;

      }

    }

    a {
      color: #CCCCCC;
      text-decoration: none;

      &.current {
        color: #FFFD38;
      }

    }
  }

}

.clearfix {
  clear: both;

  &:before,
  &:after {
    content: "";
    clear: both;
  }
}

body {
  max-width: $container-size2;
  overflow-x: hidden;
}

.footer {
  background-color: black;
  max-width: $container-size2;
  max-height: 100%;
  text-align: center;
  padding: 50px 20px;

  &__inner {
    max-width: $container-size;
    margin: auto;
    padding: 0;

    .rights {
      text-align: left;
    }

  }

  .links li, p {
    color: white;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-style: normal;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .social-icons {

    float: left;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    .icons {
      & + .icons {
        margin-left: 15px;
      }
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  .table_container {
    display: flex;
    justify-content: flex-start;

    ul {
      padding: 0;
    }
  }

}

.column {
  & + .column {
    margin-left: 50px;
  }

  .line {
    width: 1px;
    color: grey;
    align-items: center;
  }
}

.introduction {
  background-image: url(images/introduction.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: $container-size2;
  height: 850px;
  font-family: Burbank Big Cd Bk, sans-serif;
  font-weight: 1600 !important;
  align-items: center;
  text-align: left;

  .peas.table_container {
    margin: 0 99px 20px 99px;
    max-width: $container-size;
    display: table;
    column-count: 1;


    .white {
      font-style: normal;
      line-height: 45px;
      letter-spacing: 0.1em;
      color: white;

      &.bigger {
        font-size: 60px;
      }

      &.smaller {
        margin-top: 290px;
        font-size: 40px;
      }

    }

    .black {
      font-size: 48px;
    }

    .button {
      background-color: #0B0D32;
      color: white;
      font-size: 24px;
      padding: 22px 42px 22px 43px;
      text-decoration: none;

    }
  }
}

.news {
  
  img {
    max-width: 100%;
  }

  .opensans {
    font-family: "Open Sans", sans-serif;
  }

  .smallnews {
    font-size: 20px;
    font-weight: 800;
  }

  .whitenews {
    color: white;
  }

  .blacknews {
    color: black;
  }

  .blue {
    color: #2DB9F0;
    font-size: 18px;
    font-weight: 800;
  }

  .sizenews {
    font-size: 35px;
    font-weight: 700;
    font-family: Burbank Big Cd Bk, sans-serif;
  }

  .sizenews30px {
    font-size: 30px;
  }

  .newssection {
    display: flex;
    align-items: flex-start;
    max-width: $container-size;
    margin: -10vh auto 0;

    .new1 {
      background-image: url("images/creative-fort-foto.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 30px;
      margin: 30px;
      background-position: center;
      width: 60%;
      height: 700px;

      .text1 {
        margin-top: 600px;
      }

    }

    .new2 {
      background-image: url("images/operation-showdown.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 30px;
      margin: 30px;
      width: 40%;
      height: 700px;

    }

    .text2 {
      margin-top: 600px;
    }
  }

  .newssection2 {
    display: flex;
    max-width: $container-size;
    margin: 40px auto 227px;
    column-count: 4;
    justify-content: space-between;
    }

  .col4 {
    width: 25%;
    background-color: #F9F9F9;

    margin: 0 20px;
  }


}

.load-more {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 50%;
  transform: translateY(-140%);

  a {
    max-width: $container-size;
    text-decoration: none;
    color: #0B0D32;
    font-family: Burbank Big Cd Bk, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    border-style: solid;
    border-color: #0B0D32;
    border-width: 3px;
    text-transform: uppercase;
    padding: 20px 78px;

  }

}

.battle-pass-intro {
  background-color: #7854F7;

  .battle-pass-intro__container {
    max-width: $container-size;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    row-span: 2;
    column-count: 2;
  }

  .learn-more {
    margin-top: 70px;

    a {
      text-decoration: none;
      background-color: #FFFD38;
      align-items: center;
      padding: 22px 42px 22px 43px;
      color: black;
      font-weight: 800;

    }

  }

  .green {
    font-family: Burbank Big Cd Bk, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0;
    text-align: left;
    color: #85FF00;

  }

  .whitebattlepass {
    color: white;
  }


}

