@font-face {
    font-family: 'Burbank Big Cd Bk';
    src: url('../../assets/fonts/BurbankBigCondensed-Black.eot');
    src: url('../../assets/fonts/BurbankBigCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/BurbankBigCondensed-Black.woff2') format('woff2'),
        url('../../assets/fonts/BurbankBigCondensed-Black.woff') format('woff'),
        url('../../assets/fonts/BurbankBigCondensed-Black.ttf') format('truetype'),
        url('../../assets/fonts/BurbankBigCondensed-Black.svg#BurbankBigCondensed-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

